.Weather {
  border: 1px solid #d8cbbb;
  font-family: Arial, Helvetica, sans-serif;
  color: #8c999a;
  padding: 16px;
  margin-top: 20px;

  border-radius: 4px;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  color: #8c999a;
  line-height: 29px;
  display: block;
  margin: 20px 0 0 0;
  font-size: 26px;
  font-weight: 200;
}

.Weather img {
  height: 64px;

  display: inline-block;
  margin-right: 10px;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 64px;
  font-weight: 400;
  color: #070f4e;
  line-height: 80px;
}

.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -34px;
  margin-left: 5px;
  line-height: 1;
  color: black;
}

.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
